@{
    string ctrlName = this.ViewContext.RouteData.Values["controller"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!-- styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/admin/css/style.css" rel="stylesheet" />
</head>
<body ng-app="quizApp" ng-controller="HomeCtrl" ng-cloak>

    <!-- header -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="admin" asp-action="index" asp-controller="home">ADMIN</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
            <a class="nav-link text-dark
               @(Helper.SetActiveClassName(new string[] {"/admin/home","/admin" }))"
               asp-area="admin" asp-action="index" asp-controller="home">Home</a>
        </li>*@
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link text-dark dropdown-toggle @(Helper.SetActiveClassName(new string[] {"/admin/quiz/create","/admin/quiz/list" }))" data-toggle="dropdown">Quiz</a>
                            <div class="dropdown-menu">
                                <a asp-area="admin" asp-action="list" asp-controller="quiz"
                                   class="dropdown-item @(Helper.SetActiveClassName(new string[] {"/admin/quiz/list" }))">List</a>
                                <a asp-area="admin" asp-action="create" asp-controller="quiz"
                                   class="dropdown-item @(Helper.SetActiveClassName(new string[] {"/admin/quiz/create" }))">Create</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link text-dark dropdown-toggle @(Helper.SetActiveClassName(new string[] {"/admin/user/create","/admin/user/list" }))" data-toggle="dropdown">User</a>
                            <div class="dropdown-menu">
                                <a asp-area="admin" asp-action="list" asp-controller="user"
                                   class="dropdown-item @(Helper.SetActiveClassName(new string[] {"/admin/user/list" }))">List</a>
                                <a asp-area="admin" asp-action="create" asp-controller="user" asp-route-id=""
                                   class="dropdown-item @(Helper.SetActiveClassName(new string[] {"/admin/user/create" }))">Create</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link text-dark dropdown-toggle @(Helper.SetActiveClassName(new string[] {"/admin/role/create","/admin/role/list" }))" data-toggle="dropdown">Role</a>
                            <div class="dropdown-menu">
                                <a asp-area="admin" asp-action="list" asp-controller="role"
                                   class="dropdown-item @(Helper.SetActiveClassName(new string[] {"/admin/role/list" }))">List</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link text-dark dropdown-toggle @(Helper.SetActiveClassName(new string[] {"/admin/systemaction/create","/admin/systemaction/list" }))" data-toggle="dropdown">System Action</a>
                            <div class="dropdown-menu">
                                <a asp-area="admin" asp-action="list" asp-controller="systemAction"
                                   class="dropdown-item @(Helper.SetActiveClassName(new string[] {"/admin/systemaction/list" }))">List</a>
                                <a asp-area="admin" asp-action="create" asp-controller="systemAction"
                                   class="dropdown-item @(Helper.SetActiveClassName(new string[] {"/admin/systemaction/create" }))">Create</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="admin" asp-action="list" asp-controller="@(ctrlName)">
                                <i class="fas fa-arrow-circle-left"></i> List
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-action="index" asp-controller="home">
                                <i class="fas fa-arrow-circle-left"></i> Site
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/angularjs/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.0/angular-animate.min.js"></script>
    <script src="~/js/angularjs/app.js"></script>

    <!-- ctrls -->
    <script src="~/admin/js/angularjs/HomeCtrl.js"></script>

    <!-- services -->
    <script src="~/js/angularjs/service/jg-http.service.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>